#new-issue-card {
	background-color: var(--accent);
	color: white;
	padding: 1rem;
	text-align: center;
	border-radius: 16px;
	margin-bottom: 0.5rem;
}

#new-issue-card a {
	color: white;
	text-decoration: underline;
}

#new-issue-card h2 {
	font-size: 2rem;
}

#new-issue-card p {
	font-size: 1.1rem;
}