nav {
	width: 92%;
	max-width: 1200px;
	margin-inline: auto;
	font-size: 1.25rem;
	padding-block: 2rem;
	display: flex;
	align-items: center;
	gap: 1.5rem;
	border-bottom: 1px solid var(--accent);
}

nav div {
	margin-right: auto;
}

nav a:first-child {
	font-size: 4rem;
	text-decoration: none;
	line-height: 1;
	font-family: "DecoCard";
}

@media screen and (max-width: 1000px) {
	nav {
		padding-block: 1rem;
	}
	nav a:first-child {
		font-size: 2rem;
	}

	nav div {
		height: 30px; /* 3px shorter so bottom of CALIPER text does not cause weird shift */
	}

	nav div p {
		display: none;
	}
}
