.postlist {
	max-width: 750px;
	margin-inline: auto;
}

.postlist-item {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.post-author {
	font-weight: bold;
	font-size: 1.125rem;
}

.post-issue {
	display: none;
}

.post-page {
	white-space: nowrap;
}

@media (max-width: 768px) {
	.postlist-item {
		display: block;
	}
}

.page-note {
	font-size: 1.15rem;
	text-align: center;
	margin-bottom: 0.5rem;
}
