.viewer-desktop {
	width: 100%;
	display: flex;
	align-items: center;
	gap: 1rem;
}

.viewer-preview {
	display: flex;
	width: 100%;
}

.direction-sign {
	width: 40px;
	cursor: pointer;
	color: var(--accent);
	background: none;
	border: none;
}

.image-container {
	aspect-ratio: 561 / 727; /* We know the page's aspect ratio, so prevent layout shift during load */
	width: 100%;
	position: relative;
}

.image-container img {
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;

	object-fit: cover;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	--border-radius: 5px;
}

.viewer-preview.single-page {
	justify-content: center;
}

.viewer-preview.single-page .image-container {
	width: 50%;
}

.viewer-preview.single-page img {
	object-fit: cover;
}

#viewer-left-image {
	border-top-left-radius: var(--border-radius);
	border-bottom-left-radius: var(--border-radius);
}
#viewer-right-image {
	border-top-right-radius: var(--border-radius);
	border-bottom-right-radius: var(--border-radius);
}

.viewer-mobile {
	display: none;
	flex-direction: column;
	gap: 0.25rem;
}

@media screen and (max-width: 900px) {
	.viewer-desktop {
		display: none;
	}

	.viewer-mobile {
		display: flex;
	}

	#image-container-right,
	#viewer-right {
		display: none;
	}

	#desktop-left-arrow,
	#desktop-right-arrow {
		display: none;
	}

	.direction-sign {
		width: 20px;
	}

	#mobile-buttons {
		width: 100%;
		display: flex;
		justify-content: space-around;
	}

	#viewer-mobile-image {
		border-radius: var(--border-radius);
	}
}
