---
layout: layouts/base.njk
---

{% set archivecss %}
{% include "styles/archive.css" %}
{% endset %}
<style>
    {{archivecss | cssmin | safe}}</style>
<section class="issues">
    <div>
        <a href="/winter2024/">
            <img
                src="/winter2024/winter2024-cover.jpg"
                alt="The cover of the Winter 2024 Issue"
            />
        </a>
        <h2>Winter 2024 Issue</h2>
        <div class="issue-links">
            <!-- <a href="/winter2024/">Digital</a> just remove digital for now -->
        </div>
    </div>
    <div>
        <a href="/winter2023/">
            <img
                src="/winter2023/winter-2023-cover-by-shivani-manimaran.jpg"
                alt="The cover of the Winter 2023 Issue by Shivani Manimaran"/>
        </a>
        <h2>Winter 2023 Issue</h2>
        <div class="issue-links">
            <!-- <a href="/winter2023/">Digital</a>-->
        </div>
    </div>
    <div>
        <a href="/spring2023/">
            <img
                src="/spring2023/spring-2023-cover-by-shivani-manimaran.jpg"
                alt="The cover of the Spring 2023 Issue by Shivani Manimaran"/>
        </a>
        <h2>Spring 2023 Issue</h2>
        <div class="issue-links">
            <!--<a href="/spring2023/">Digital</a>-->
        </div>
    </div>
</section>
