---
layout: layouts/base.njk
---

{% set archivecss %}
{% include "styles/archive.css" %}
{% endset %}
<style>
    {{archivecss | cssmin | safe}}</style>
<section class="issues">
  <!-- spring 2026 -->
  <div>
     <a href="/winter2026/">
         <img
             src="/winter2026/winter2026-cover.jpg"
             alt="The cover of the Winter 2026 Issue"
         />
     </a>
     <h2>Winter 2026 Issue</h2>
  </div>
  <div>
     <a href="/spring2025/">
         <img
             src="/spring2025/spring2025-cover.jpg"
             alt="The cover of the Spring 2025 Issue"
         />
     </a>
     <h2>Spring 2025 Issue</h2>
  </div>
   <div>
      <a href="/winter2025/">
          <img
              src="/winter2025/winter2025-cover.jpg"
              alt="The cover of the Winter 2025 Issue"
          />
      </a>
      <h2>Winter 2025 Issue</h2>
   </div>
   <div>
      <a href="/spring2024/">
          <img
              src="/spring2024/spring2024-cover.jpg"
              alt="The cover of the Spring 2024 Issue"
          />
      </a>
      <h2>Spring 2024 Issue</h2>
   </div>
    <div>
        <a href="/winter2024/">
            <img
                src="/winter2024/winter2024-cover.jpg"
                alt="The cover of the Winter 2024 Issue"
            />
        </a>
        <h2>Winter 2024 Issue</h2>
    </div>
    <div>
        <a href="/summer2023/">
            <img
                src="/summer2023/summer2023-cover.jpg"
                alt="The cover of the Summer 2023 Issue"/>
        </a>
        <h2>Summer 2023 Issue</h2>
    </div>
    <div>
        <a href="/winter2023/">
            <img
                src="/winter2023/winter2023-cover.jpg"
                alt="The cover of the Winter 2023 Issue"/>
        </a>
        <h2>Winter 2023 Issue</h2>
    </div>
</section>
