---
layout: layouts/base.njk
---

{% set archivecss %}
  {% include "styles/archive.css" %}
{% endset %}
<style>
    {{ archivecss | cssmin | safe }}
</style>

<main class="archive-container">
  <section class="submission-banner">
    <div class="banner-card">
      <h2 class="issue-call">Caliper Conservation</h2>
      <p>Our archive is currently missing issues published in 1908, 1919, 1922-23, 1925-26, 1928-29, 1932, 1943-45, 1947, 1950-52, 1959-61, 1963-65, 1967-71, 1975-76, 1978, 1980, 1982, 1984, 1990, 1994-95, 1998-2003, 2009-10, 2012, 2017-22. If you know anyone who graduated Stuyvesant during those years and may be in possession of a copy, reach out to us at caliperlitmag@gmail.com!</p>
    </div>
  </section>

    <section class="issues-grid">
        <div class="issue-card">
            <a href="/winter2026/" class="issue-link">
                <div class="cover-wrapper">
                    <img src="/winter2026/winter2026-cover.jpg" alt="Winter 2026 Issue Cover" class="featured-cover"/>
                </div>
                <h2 class="issue-date">Winter 2026</h2>
            </a>
        </div>

        <div class="issue-card">
            <a href="/spring2025/" class="issue-link">
                <div class="cover-wrapper">
                    <img src="/spring2025/spring2025-cover.jpg" alt="Spring 2025 Issue Cover" class="featured-cover"/>
                </div>
                <h2 class="issue-date">Spring 2025</h2>
            </a>
        </div>

        <div class="issue-card">
            <a href="/winter2025/" class="issue-link">
                <div class="cover-wrapper">
                    <img src="/winter2025/winter2025-cover.jpg" alt="Winter 2025 Issue Cover" class="featured-cover"/>
                </div>
                <h2 class="issue-date">Winter 2025</h2>
            </a>
        </div>

        <div class="issue-card">
            <a href="/spring2024/" class="issue-link">
                <div class="cover-wrapper">
                    <img src="/spring2024/spring2024-cover.jpg" alt="Spring 2024 Issue Cover" class="featured-cover"/>
                </div>
                <h2 class="issue-date">Spring 2024</h2>
            </a>
        </div>

        <div class="issue-card">
            <a href="/winter2024/" class="issue-link">
                <div class="cover-wrapper">
                    <img src="/winter2024/winter2024-cover.jpg" alt="Winter 2024 Issue Cover" class="featured-cover"/>
                </div>
                <h2 class="issue-date">Winter 2024</h2>
            </a>
        </div>

        <div class="issue-card">
            <a href="/summer2023/" class="issue-link">
                <div class="cover-wrapper">
                    <img src="/summer2023/summer2023-cover.jpg" alt="Summer 2023 Issue Cover" class="featured-cover"/>
                </div>
                <h2 class="issue-date">Summer 2023</h2>
            </a>
        </div>

        <div class="issue-card">
            <a href="/winter2023/" class="issue-link">
                <div class="cover-wrapper">
                    <img src="/winter2023/winter2023-cover.jpg" alt="Winter 2023 Issue Cover" class="featured-cover"/>
                </div>
                <h2 class="issue-date">Winter 2023</h2>
            </a>
        </div>
    </section>
</main>
