---
layout: layouts/base.njk
---

{% set indexcss %}
{% include "styles/index.css" %}
{% endset %}
<style>
    {{indexcss | cssmin | safe}}</style>
<hgroup id="new-issue-card">
    <h2>Winter 2024 Issue</h2>
    <p>
        Our first hybrid (digital + print) issue is now available!
    </p>
</hgroup>
<section>
    {%- from 'components/viewer.macro.njk' import viewer %}
    {{ viewer({ issue: "winter2024", max : 38, min : 1}) }}
</section>
{% include "components/contributors.njk" %}