---
layout: layouts/base.njk
---

{% set indexcss %} {% include "styles/index.css" %} {% endset %}
<style>
	{{ indexcss | cssmin | safe }}
</style>


<section class="issues">
    <div>
        <img src="/winter2023/winter-2023-cover-by-shivani-manimaran.jpg" alt="The cover of the Winter 2023 Issue by Shivani Manimaran" />
        <h2>Winter 2023 Issue</h2>
        <div class="issue-links">
            <a href="/winter2023/the-patron-saints-of-hydromorphone-and-jobbers/">Start at Page One</a>
            <a href="/winter2023/">Table of Contents</a>
        </div>
    </div>
    <div>
        <img src="/spring2023/spring-2023-cover-by-shivani-manimaran.jpg" alt="The cover of the Spring 2023 Issue by Shivani Manimaran" />
        <h2>Spring 2023 Issue</h2>
        <div class="issue-links">
            <a href="">Start at Page One</a>
            <a href="">Table of Contents</a>
        </div>
    </div>
</section>
