---
title: "A Quiet Rain (excerpt)"
author: Maria Tzanova
author_slug: maria-tzanova
index : 8
--- 

<p>The beach was quiet tonight.</p>
<p>It always was, but tonight the breeze itself whispered across the silent sands as though it were trying to escape the
    slumbering eyes hidden in the carpet of darkness above. The stars did not twinkle in the unlit sky. The sands looked to
    stretch out forever in their little finger-thin waves, their little finger-thin indents like so many fingerprints. Like
    the wind’s fingerprints.</p>
<p>Thunder boomed and purple lightning flashed, somewhere to the south. Brooklyn was aflash in a torrent of pouring
    rain. The lights of the subway stop glinted invitingly. She turned away from the endless sea and stepped down into the
    dim lighting of 30th Av. Southbound R, 34th Herald Sq, Southbound Q.
</p>
<p>Sheepshead Bay.</p>
<p>Places, places, places. The deluge had quieted down to a drizzle. The boards of the little blue bridge, paint cracked
    and peeling, were dark with precipitation. The rain was quiet, too. All the world was a-dreaming.</p>
<p>A feather, shot through on the left with a tiny streak of fluorescent purple, fluttered down from above and landed on
    her shoulder. She flicked it off her shoulder, watching it spin on its way to the depths, until the fleeting glint of
    color flickered into the darkness of the bay.</p>
<p>She smiled a little secret smile and tried to remember where she had seen that color before. Maybe the nieces? They
    were at that age - when nothing mattered if it wasn’t in pastel. Silly little girls. One day they’d learn to appreciate
    the silence.</p>
<p>But it wasn’t silent anymore. Something had shifted while she’d been distracted with silly thoughts of silly girls.
    The hush was a lack of noise, not a deliberate stillness. The purple flash came again from a couple rooftops away. Only
    this time it was clear it wasn’t lightning.</p>
<p>She buttoned up her jean jacket and moved away from the ridiculously bright lantern. “Never a normal night, no” she
    whispered to the unceasing tide and took a deep breath. “Unfold your wings. Or else you’ll forget how to use them.”</p>