---
title: "Cartime Karaoke Parties"
author: Ennya Liang
author_slug: ennya-liang
index: 29
---

<p>I blinked sleepily as I awoke with the cool gray leather of the car seat pressed to my clammy cheek. A faint glow from above illuminated me as I struggled to my elbow and sat up straight. It was the light of her phone, brightening her face as if she emanated a warm radiance. She glanced at me quickly, then returned to her phone. She appeared to be texting someone—at least, the reflection in the car window told me as much. There was an occasional click when her rings tapped the glass screen of her white Android. </p>
<p>I glanced out the window. It was pouring outside; the rain falling on the roof of our parked car offered a soothing soundtrack to the raindrops on the window as they collided with hesitation, then ran off into rushed and disturbed streams down my window. </p>
<p>Her voice broke my reverie. “Do you want to go in now?” </p>
<p>I glanced up. Sure, she held a straight face, but I knew her well enough to know that she wanted to stay in the car a little longer. </p>
<p>“Nah.” I shook my head. “It’s peaceful here.”</p>
<p>My sister nodded appreciatively, the purple metallic rims of her glasses flashing from the light of the streetlight shining through her window. She hesitated, as if deciding something, then seemed to make up her mind. “Wanna play some music?”</p>
<p>I blinked. </p>
<p>And blinked again. </p>
<p>If I hadn’t seen my sister’s lips move, I would have doubted that she had been the one to speak. </p>
<p>My sister and I were friendly– but I certainly wouldn’t call us friends. After all, she was my role model– she certainly acted the part. Sometimes, she would benevolently bestow me with a thoughtful gift on a bad day, while other times, she would impress me with her prowess in school and on the viola so much that I could only stand back and watch in awe. </p>
<p>But past the pleasantries, we never traded secrets, never spilled out our days to one another, never stayed up late and just talked. That is to say, the sudden invitation was… unexpected.  </p>
<p>Some part of me nudged my shell-shocked self and I quickly snapped my jaw shut, nodding with an eagerness that, put together with my bulging eyes and maniacally wide smile, must have made for a disturbing face. </p>
<p>To her credit, she took it in stride, and quickly jumped to her Spotify app. </p>
<p>The opening melody of “Paradise” by Coldplay sounded out. We bobbed our heads to the beat as we cleared our throats and prepared to sing. </p>
<p>“When she was just a girrrll—” she crooned.</p>
<p>“She expected the worrrrllldd.” I jumped in. </p>
<p>“But it flew away from her reeaach...” </p>
<p>“So she ran away in her sleeeeep.” </p>
<p>	And on we went. Our voices were inexperienced and occasionally off-key, but I felt a warmth in my chest all the same. We were beginning the last chorus when she started inventing ridiculous dance moves to mock the rousing beat, and I burst out laughing. </p>
<p>	“Para-para-paradise! Para-para-paradise! Para-para-paradise! Woooaaahhh,” Chris Martin belted out. We fell apart roaring with laughter as we tried to out-ugly each other with our increasingly exaggerated dance moves. </p>
<p>The song ended, eventually. Our giggles slowly dissipated, and piece by piece, we recollected ourselves. She turned off her phone. </p>
<p>A beat passed.</p>
<p>“Do you want to go in now?” she asked again, her voice slightly hoarse from all the laughing. </p>
<p>This time, I nodded. I felt a twinge of sadness as I realized that back inside, we would once again be apart. We had our own unrelated lives to live. There would be no more ridiculous dance-offs, no karaoke parties held in the small bubble created by the car and rain. </p>
<p>I felt melancholy as we dashed the ten-meter gap from the car to the warm house, intent on staying dry despite the pounding rain. </p>
<p>Quietly, I sighed. Well, it was fun while it lasted. </p>