---
title: "december ninth"
author: Starwind Lei
author_slug: starwind-lei
index: 28
---

<p>superpositions.</p>
<p>mirrors.</p>
<p>everything falls.</p>
<br/>
<p>the glitchy jitter of my heart,</p>
<p>the kneel of the one beside,</p>
<p>the silent sobs of the other,</p>
<p>on the winter i confide.</p>
<br/>
<p>love, cold silence,</p>
<p>in this poem without meaning,</p>
<p>with meaning…</p>
<p>the start of other lives,</p>
<p>the origin of intertwines.</p>
<br/>
<p>hope,</p>
<p>in the end of another constructed world.</p>
<p>who am i writing for i ask?</p>
<p>in this pavillion again.</p>
<br/>
<p>as a still coldness embraces me here,</p>
<p>my sins remain, in the end.</p>