---
title: "Fever Pitch"
author: Virgenya Zhu
author_slug: virgenya-zhu
index: 36
---

<p>i am prodigal son. depression is spilling like black tar out of my fingertips and i lick it greedily from my palms. i am taking myself apart on the kitchen counter, like some sort of tinfoil apocalypse.</p>
<p>i am deafening renaissance. divinity stains my fingers like sun-dried plums. trauma like a whole suckling pig displayed proudly at thanksgiving. i am of ashes packed tall inside an urn, gritty and volcanic like the rubbles of a small town caught in the crossfire of nuclear war. my means to an end is an inherited guilt: father to son to father once more. </p>
<p>i am holy grail. girl as in waterlogged feet. girl as in gentrified body. every love i’ve had is a black box warning waiting to happen. there’s something so comforting in the slaughterhouse quiet. i think i was looking for excuses to leave. the pit in my stomach begs for carnage. </p>
<p>my means to an end is an inherited guilt: childhood damage leading to teenage mutiny. predicted freefall on the y-axis. parabola forever in motion. i am flatline. </p>
<p>i am elasticity, smothered by fission. you are the sky.</p>
<p>i am medusa’s daughter. beggar girl, priestess. naively embodied silence. testifying in court, bent in half under the gavel. temple sweeper. beauty molded curves, ripping at the seams of her belly button. hellenic; demonic. conquest turned calendar year. guttural domesticity. i am rosebud salve, to be taken hungrily, without bloodshed. grit stuck like rock bottom to my elbows. bared empty like a martyr. salvation saltwater statue. maiden barbarian. milky white affliction, broken vows. taut. devoured. evil justified. festering earth.</p>
<p>i do not clot. i am impossible. i am eternal. i do not apologize anymore. i am molded in the image of full-hearted tragedy. i am a reconstruction of a god that i do not dare claim.  </p>
<p>i scream a ghost’s name from the rooftops. like some sort of remedial bereavement. pestilence courses under my skin and rots my teeth from the inside out. </p>
<p>i am white-tailed dear in headlights. my existence is an invitation to question its validity. i’m choking on this supposed freedom. i tell my guardian angel that i want a love that doesn’t hurt. her eyes crinkle into slits like she’s laughing but she bares her teeth at the thought. </p>
<p>i am an impenetrable fortress: never to be breached again. skin on skin on fire. i am frenzy, coating my legs with a layer of varnish. i think about the first person to use a sledgehammer and if wielding power is supposed to be uncomfortable. i think about andromeda chained to the rocks; victim to an anger that was never hers to bear. i think about how every squirrel you see could be your last. i think about girls who disappear into the woods to find somewhere to scream. i think about mountain goats and if they know how pretty they are. inherent eroticism colors my steps.</p>
<p>i am tortured artist. van gogh’s last words were “this sadness will last forever.” this sadness takes an anvil to my head and smashes it to pieces. this sadness blinds me with a red-hot poker stick and pushes me overboard. this sadness pulls me apart. this sadness sews me back together so it hurts more the next time. this sadness collects in my nervous system and never comes out the other end. this sadness turns me into dust. this sadness is an apartheid.</p>
<p>i am hedonic treadmill. i mold words like soft clay and never let them dry completely. i venture into a ghost town. claim it as my own. i love so hard it seeps into my bones and the marrow fills with lightning.</p>
<p>i am survival instinct. </p>
<p>i am sincerely yours. </p>
