---
title: "from generation to generation"
author: Ari Eber
author_slug: ari-eber
index: 34
---

<p>(note that every repetition of     לדור ודור is hebrew for “generation to generation”, pronounced l’dor vador)</p>
<pre>                      לדור ודור</pre>
<p>your hair is coiled like copper springs</p>
<p>so is ima’s and yeyi’s and the rest of your family,
</p>
<p>yet mine is more like the lapping waves we saw in maine.</p>
<pre>                      לדור ודור</pre>
<p>our noses fit together like two pieces of a thousand piece jigsaw</p>
<p>the decals peeling up like the periodic table puzzle on our coffee table table – the one chanah spilled water all over</p>
<pre>                      לדור ודור</pre>
<p>
    <i>i realized in your embrace that g-d used the same stencil when engraving our stretch marks</i>
</p>
<p>
    <i>(is that why we feel the same shame?)</i>
</p>
<pre>                      לדור ודור</pre>
<p>when i clutch my stomach writhing in pain, paying the draining tax of eve’s temptation, one of those waves freezes
    into a copper spring</p>
<p>you tell me it’s every girl’s dream, that i’ll regret this when you’re gone, but all i see are my own bushy eyebrows
    furrowing in disgust (did you forget to get them threaded this week?)</p>
<pre>                      לדור ודור</pre>
<p>i find my back arching to meet your gaze despite it only ever returning disgust;</p>
<p>but what kind of woman - daughter, your daughter - would i be if i did not willingly fracture my own spine to make
    you a chair? another wave compresses like a telephone cord</p>
<pre>                      לדור ודור</pre>
<p>from generation to generation, i lose another strand until i am nothing more than a long bent bronze wire: a
    malleable alloy of inherited shame and my own</p>
