---
title: "Golden"
author: Sophia Li
author_slug: sophia-li
index : 9
--- 

<p>Sunflowers and saffron rice</p>
<p>Honey-colored eyes</p>
<p>Hidden under a yellow ribbon</p>
<p>The shade of a straw hat</p>
<p>Fields of dandelions</p>
<p>And cornstalks</p>
<p>The sky brightening</p>
<p>Before a sunrise</p>
<p>The glint of horn-rimmed glasses</p>
<p>A thin chain necklace</p>
<p>Eyelashes casting flecks of light</p>
<p>A laugh of innocence</p>
<p>Flash of pearl-white teeth</p>
<p>God, her smile is golden.</p>