---
title: "Golden Retriever"
author: Clyde Konty
author_slug: clyde-konty
index: 39
---

<p>A hospital is bombed, killing hundreds.</p>
<p>The boy in front of me buys a gallon of milk and a pack of gum.</p>
<p>Three students in Vermont are shot, a hate crime.</p>
<p>The man beside me stares intensely into his crossword.</p>
<p>A US ship is attacked in the Red Sea.</p>
<p>The girl across from me snaps her best friend.</p>
<p>Another dream is ended; a family is
</p>
<p>shot dead at the border.</p>
<p>
    torn apart, never to see each other again.</p>
<p>
    stomped down by mercenaries in
</p>
<p>
    Palestine’s West Bank.</p>
<p>
    Ukraine’s Donetsk.</p>
<p>
    East Yemen.</p>
<p>
    Rural Myanmar.</p>
<p>I look up, and a woman walks by, golden retriever in her stride,</p>
<p>No fear in the world that he’ll ever leave her side.</p>