---
title: "Great is Imitation"
author: Jessie Chan
author_slug: jessie-chan
index : 5
---

<p>
    <i>after Walt Whitman</i>
</p>
<br/>
<p>Great are the myths…I too delight in them</p>
<p>Great are Icarus and Orpheus…I look back and accept them</p>
<p>Great are the risen and the deflated, their wills, posters, cutouts, calendars, and drafts.</p>
<br/>
<p>Great is imitation! Great is mirage! I am their follower,</p>
<p>Helmsmen of illusion, choose your craft…where you sail I sail,</p>
<p>Yours is the stone in my kidney…yours is the cat at my tongue</p>
<p>….yet in you I have blind faith.
</p>
<br/>
<p>Great are those who aren’t but try to be,</p>
<p>Great is the prosthetic, made to mimic the inimitable,</p>
<p>Great is the artificial, the synthetic, the mime</p>
<p>the derivative, the bluff, the boast, the born deceiver</p>
<p>the one pair deck that calls and never folds.</p>
<br/>
<p>I cut the puzzle, separate the continents, design the joint,</p>
<p>and yet I always drag the pieces into place.</p>
<p>I stand to supplement, I sit to bolster,</p>
<p>I stretch in the shadows and hope the sun sees me,</p>
<p>because I love the light but fear the burn.
</p>
<br/>
<p>Enrapture me with your oasis! and let me swallow the sand</p>
<p>But you ask, won’t the hot sand scald my insides?
</p>
<p>Why do I fear the sunburn but bear the blister?
</p>
<p>Do you call that a paradox? It certainly is one.
</p>
<br/>
<p>I sing to the chrysalis…I pray the formless goo between my fingers hears me</p>
<p>I wished for a monarch…out came a viceroy.</p>
<p>Great is the model, and equally great is the mimicry…great is the advance, and equally great the attempt.
</p>
<br/>
<p>So! To the rat race:</p>
<p>I chase and resent you, rhapsodize and lament you, and I whine your name just to taste the sour-sweetness of your
    disappointment on my tongue.</p>
<p>So I carve commutes and I heave bells,</p>
<p>I fold spines and I jam time.</p>
<p>I defer.</p>