---
title: "Imitation"
author: Sophie Wang
author_slug: sophie-wang
index : 4
---

<p>The Sun leaves me—too soon—like a tired mother—
</p>
<p>naps after a 9 to 5.
</p>
<p>Haven’t been seen much—but my ears yearn for a page flip—
</p>
<p>By her again.
</p>
<p>Signed emails and grocery receipts.</p>
<p>Like Taylor said: collect the scraps before they’re taken away,</p>
<p>Too soon—so I take my files—piles
</p>
<p>Collected in drawers—closets.
</p>
<p>Sprawled on the floor around me, all 200 square feet.
</p>
<p>Hope to patch her up again—a paper mâché woman—an imitation.
</p>
<p>Strikingly unfamiliar—chewed-up, layered, splattered pages—her chapter.
</p>
<p>Towering stacks of photos, plum shades of nail polish,
</p>
<p>I grasp for—</p>
<p>only to feel yet another imitation.
</p>