---
title: "Kind Of"
author: Elizabeth Harris
author_slug: elizabeth-harris
index : 1
---
<p>I used to think that we were meant to be</p>
<p>You and I</p>
<p>And that's the way all good poems start</p>
<br/>
<p>as we lay under the stars, bright and black</p>
<p>And trod through dewy grass, green</p>
<p>	The cicadas chirped our praise</p>
<p>	And the lake rippled our names</p>
<p>		Together</p>
<p>It felt real then</p>
<p>	real real,</p>
<p>		Tell your mom kind of</p>
<p>		Christmas together kind of</p>
<p>		Share my secrets kind of</p>
<p>		Marry you kind of</p>
<p>			love</p>
<br/>
<p>But I’ve been wrong before</p>
<p>And I’ll be wrong again</p>
<p>And that’s the way all good poems end</p>
