---
title: "Late November Blues"
author: Madhavi Tiruchelvam
author_slug: madhavi-tiruchelvam
index: 43
---

<p>
    <i>(inspired by Langston Hughes “The Weary Blues”)</i>
</p>
<br/>
<p>Feet pounding on freezing cement</p>
<p>No joy where I've been, no joy where I went.
</p>
<p>This morning will pass, but I pay my rent</p>
<p>
    For summer's shine, my november has wept.
</p>
<br/>
<p>Don't you wanna love me?</p>
<p>The breeze screams.</p>
<p>Don't you wanna be happy?</p>
<p>The shouts of tumbling leaves.</p>
<br/>
<p>My pen resumes its march on paper
</p>
<p>Oh, my fingers, oh, they scratch and bleed.
</p>
<p>But there’s no stopping—from despair,
</p>
<p>These words will never be freed.
</p>
<br/>
<p>A brief reprieve my sunshine may bring</p>
<p>Soft healing laughter, medicinal skin.
</p>
<p>Her hands will pull mine, together we'll swing</p>
<p>Fabric flying, her smile gives me wings
</p>
<br/>
<p>And yet, the music still fades,</p>
<p>The curtain will fall, the laughter will age.</p>
<p>To frost, succumbs our embrace</p>
<p>The november leaves turn another page</p>