---
title: "Letter to a Mortal"
author: Rafael Zornoza
author_slug: rafael-zornoza
index: 31
---

<p>Remembered world drowned</p>
<p>beneath skies of falling fire.</p>
<br/>
<p>Dreams of ash laughing</p>
<p>at what could have been.</p>
<br/>
<p>But don’t despair,</p>
<p>my life matters.</p>
<br/>
<p>My life will be different,</p>
<br/>
<p>than yours:</p>
<br/>
<p>a memory.</p>
<br/>
<p>A memory of a candle</p>
<p>extinguished</p>
<p>by the howling wind.</p>
<br/>
<p>A memory that</p>
<br/>
<p>was.</p>
<br/>
<p>But not my life.</p>
<br/>
<p>I am</p>
<br/>
<p>a picture,</p>
<p>long turned to dust,</p>
<br/>
<p>of lies</p>
<br/>
<p>of lies and lies</p>
<p>that burn and burn
</p>
<br/>
<p>at the tendrils of love</p>
<br/>
<p>that should have been.</p>
<br/> <br/> <br/>
<p>A candle of light</p>
<p>in a universe of darkness</p>
<br/>
<p>shines longer,</p>
<br/>
<p>longer than me.</p>
<br/>
<p>Suns will darken,</p>
<br/>
<p>hearts will wither,</p>
<br/>
<p>souls will turn to mist</p>
<p>on a foggy day,</p>
<br/>
<p>but I will stand</p>
<p>here,</p>
<br/>
<p>on this rock</p>
<br/>
<p>that will be dust,</p>
<br/>
<p>as a pillar,</p>
<p>a monument,</p>
<p>a lesson,</p>
<br/>
<p>of what</p>
<br/>
<p>should not have been.</p>
<br/>
<p>A boat</p>
<p>of blood,</p>
<p>flesh,</p>
<p>and sinew,</p>
<br/>
<p>sails away,</p>
<br/>
<p>dream catcher</p>
<br/>
<p>on the drowning ocean,</p>
<br/>
<p>bathed in falling fire.</p>
<br/>
<p>A boat</p>
<p>of blood,</p>
<p>flesh,</p>
<p>and sinew,</p>
<br/>
<p>leaves me,</p>
<br/>
<p>standing on a dusty rock,</p>
<br/>
<p>imagining</p>
<br/>
<p>what could have been</p>
<br/>
<p>and what will be:</p>
<br/>
<p>the eternal life,</p>
<br/>
<p>maybe worth living,</p>
<br/>
<p>that is mine.</p>