---
title: "Little Things"
author: J.S.
author_slug: j-s
index: 41
---

<p>There’s an extra chair in the kitchen</p>
<p>The wood used, smooth and worn</p>
<p>Its cushion pink, her favorite hue</p>
<p>The color of unicorns</p>
<p>Of popsicles and pink lemonade</p>
<p>And the lovely roses
</p>
<p>I lay atop her grave.</p>
<br/>
<p>There’s an extra toothbrush in the bathroom</p>
<p>Its bristles white and frayed</p>
<p>Though I told her not to brush so hard</p>
<p>Lest her gums get scraped.
</p>
<p>It doesn’t matter now.</p>
<p>There’s no need for food or drink</p>
<p>If she sleeps beneath the ground.</p>
<br/>
<p>There’s a candy wrapper on the table</p>
<p>The last thing she ever ate</p>
<p>I would buy them, she would steal them,</p>
<p>And giggle at my livid face.</p>
<p>Sometimes I hated her back then.</p>
<p>Yet I would give a thousand candies</p>
<p>Just to hear her laugh again.</p>
<br/>
<p>There’s broken glass in the garbage</p>
<p>I threw a cup across the room</p>
<p>In a fit of fury, asking why,</p>
<p>
    Was she the only flower cut before she could bloom?</p>
<p>Did she do something wrong?</p>
<p>Make a mistake, offend fate?
</p>
<p>Or was it my fault, I the culprit all along?</p>
<br/>
<p>There is a lark that sings at dawn</p>
<p>A bright, beautiful warbling cry</p>
<p>Chirping, eating, running, laughing</p>
<p>Even though eventually, it will die.</p>
<p>A crack in the rocks holds a blossom</p>
<p>Pink petals bloom, the first spring without her</p>
<p>The first of many yet to come.</p>