---
title: "Mosquitoes"
author: Helen Mancini
author_slug: helen-mancini
index : 14
--- 

<pre>Have always loved me</pre>
<pre>Was what my mom said.</pre>
<pre></pre>
<pre>Last week I went to bed with </pre>
<pre>3 bites</pre>
<pre>in         a         line</pre>
<pre>across my back.</pre>
<pre>I never heard a buz     z     z</pre>
<pre>Maybe because I've been so tired. .. .</pre>
<pre>Mosquitoes</pre>
<pre>Are not a thing anymore</pre>
<pre>Was what my friend said.</pre>
<pre></pre>
<pre>Kids become old and mosquitoes disappear -</pre>
<pre>why haven’t I grown?</pre>
<pre>When everything          blurs</pre>
<pre>I itch the bites</pre>
<pre>A white red bump.</pre>
<pre>It            prickles and then ble  e       e           e</pre>
<pre>				        e         e            e    e  ds</pre>
<pre>Young and fresh - hot and innocent</pre>
<pre>Alive!</pre>
<pre>Until It crusts a dark purple            brown</pre>
<pre>Itching becomes disgusting</pre>
<pre>Sticky underneath my fingernails</pre>
<pre>Rotten</pre>
<pre>Dead.</pre>
<pre></pre>
<pre>I've realized!</pre>
<pre>there must be a mosquito…</pre>
<pre>...following me</pre>
<pre></pre>
<pre>Mosquito,</pre>
<pre>What are you doing here?</pre>
<pre>Is what I said.</pre>
<pre>IT's hidden in the dust floating through my room </pre>
<pre>hidden behind the spots in my vision</pre>
<pre>hidden...</pre>
<pre>I can only hear the itch, saying:</pre>
<pre>Hey,</pre>
<pre>don't forget you have skin</pre>
<pre>Tear it up.</pre>
<pre>I tear it up 			   pitched</pre>
<pre>Inside the friction of my high-                 s  t  a  c  c  a  t  o  .  .</pre>
<pre>     scr        a      a     a    a    a      tch     ing….</pre>
<pre>I feel IT speak - through an all-consuming buz         z              z         z:</pre>
<pre>Let me remind you - </pre>
<pre>you're Alive! -</pre>
<pre>enough for me to want to steal- </pre>
<pre> the life I</pre>
<pre>                       e</pre>
<pre>                                a</pre>
<pre>                                             king</pre>
<pre> through you</pre>
<pre></pre>
<pre>Mosquitoes</pre>
<pre>keep trying to make me young again.</pre>
<pre>Soon - I'II be asleep</pre>
<pre>all while their bites' bumps come </pre>
<pre>- go</pre>
<pre>-harden </pre>
<pre>- and die.</pre>
<pre>        I wonder if I’ll wake</pre>
<pre>up.</pre>