---
title: "Psycho-Active"
author: "Erica Liu"
author_slug: erica-liu
index: 15
--- 

<p>initial instance.</p>
<p>I dipped my fingertips into your liquor in February
                but I had been taking muted sips since November.</p>
<p>We began to barter morphine for touch.</p>
<p>continued use.</p>
<p>I set my circadian rhythm to your centripetal gravity: pouring time into pints, pints, measured pints in hopes of
    crossing your footpaths with mine. The aftertaste was there even in genesis but the hangover hit much later. Well, by
    the end of every night, even before the morning, but
</p>
<p>it was a cycle. My dealer in dopamine. I let your contaminated syringe pierce my skin and inject disease into my
    veins. I wait by the bar alley for my appointment with you and I don’t leave until hours have passed and you’re
    resolutely not there. Because I like me more with you.
</p>
<p>tolerance, addiction.</p>
<p>I swore off hard drugs, hard love. I can’t wait for anyone anymore, did you know, and every time I pass by those bar
    city-lights I pass by quick so we don’t deal our old business. Sometimes I see you dealing to others, just soft drugs,
    nothing bad.
</p>
<p>You used to be my stimulant, the reason I got through the day, an hour of ecstasy worth all the rest yet never
    enough. Now I have to tolerate the lack of you and I realize I’ve lost who I am. But the hungry, craving exhales begin
    to dissipate with
</p>
<p>abstinence, withdrawal.</p>
<p>It’s good when you’re not within reach.
                Sobriety finds novelty in loving myself,
</p>
<p>but sometimes I crave something of substance.
                I need the drugs, I need your drugs, I need you.
</p>
<p>So I take a trip down LSD lane.
                and</p>
<p>I don’t want</p>
<p>to</p>
<p>but</p>
<p>I</p>
<p>relapse.</p>
<p>It feels like November all over again.</p>
<p>I would drink, inject, take you again if you let me.</p>