---
title: "Red"
author: Nicole Shteynberg
author_slug: nicole-shteynberg
index: 42
---

<p>The night was dead.
</p>
<p>A dark dome swallowed the sky whole as murky, translucent clouds sliced through, tearing rips in the untouched
    oblivion. The moon cast its dusky, ivory rays, washing the field in a monochromatic shower. Shrill noises bled through
    the black sky, rising from everywhere and nowhere all at once.
</p>
<p>My fingers scaled the windowsill, nails digging into dried white paint. I watched the indents in the softwood deepen
    as they did every night, empty pools carved with my nails. I met my reflection in the window and inspected my eyes,
    empty trenches paired with flaccid, swollen bags below them. Flushed cheeks were pulled taut against a frame of hair,
    matted tresses barely passing my shoulders.
</p>
<p>A glow emanated from my right and I blinked, looking up from the wooden plank
</p>
<p>to see my alarm clock glinting “3:00 AM” in a bright chartreuse.</p>
<p>I pushed on my window until the glass screen had completely slid up, and a soft breeze lurched toward me.</p>
<p>It was needles against sandpaper flesh, tiny jagged spears wedging into every pore. Another gust of wind heaved past
    me and I closed my eyes, veiling them as frigid air nipped at my nose.
</p>
<p>It was an inky night, yes, but it was a calm one. It was quiet, silence reabsorbing silence, dark air enveloping me,
    and I smiled.
</p>
<p>Something crackled in the distance. I snapped from my trance, eyebrows furrowing as I extended my neck to leer at a
    patch of trees swaying some yards away, separated by a large grass expanse. An evergreen tree to the left of the bunch
    was trembling from either fear or leftover inertia, I couldn’t tell. My eyes traced over its features and I sensed
    something flicker on my far right. Jerking my head to the side just in time, I caught sight of a strange shadow flashing
    from tree to tree. It looked long and elongated, like a piece of dough that had been rolled out and kneaded one too many
    times. It was thin, too, like a sheet of ice coating icy blue water. Cold. Unmoving. Distant.
</p>
<p>Something clobbered me from within. My hand felt for my heart and I realized I could feel its light throbs vibrating
    the rungs of my rib cage.
</p>
<p>Another hiss - this time back to the left. My head jolted in the direction and twitched as I tried to navigate
    exactly which bush the shadow had decided to attack this time. My fingers tightened on the windowsill as the muscles in
    my stomach knotted and looped.
</p>
<p>I closed my eyes. Took a deep breath. My fingers relaxed and I reached a hand up to tuck a loose strand of flaxen
    hair behind my ear-</p>
<p>Crack.
</p>
<p>Another soft fizzle. My eyes shot open and caught sight of color. Two small, red halos glimmered amidst black ink and
    forest green. Two crimson gems, solid and raw. Two lambent rubies staring straight at me. It was a violent red, a fire
    foaming with scarlet revenge and vermillion fear.</p>
<p>I could feel blood seep from my face, this suspicion confirmed as my reflection’s blanched face trembled.</p>
<p>My eyes focused and found the owner of the red. A silhouette, one I identified as the previous leaping shadow, was
    pressed against the outline of evergreens, somehow perfectly visible against the coal-black night.
</p>
<p>
    The shadow stood before the middle pack of trees, limp hands swinging lightly by its sides. Long fingers grazed lengthy
    legs. A tear-shaped head cocked to the side as it rested upon broad, rectangular shoulders. Two still, scarlet eyes
    splotched with messy pupils watched me, looking not at me but somewhat through me.
</p>
<p>Blood pumped at my ears, my mind gushing at a thousand miles an hour. I couldn’t think, let alone breathe as I
    watched the figure advance.
</p>
<p>In the time it took me to decide whether or not to scream, my hands had crawled up to my neck. Something choked me,
    and I felt my voice scorched to dust in my throat. A swelling, force poured on as smoke and fire explored every corner
    of my body, crushing the breath from my chest, and melting me down to my bones.
</p>
<p>My gaping mouth widened in agonizing confusion and I tried to pry my hands off my throat, tried to shove them towards
    the window to push it down, push it down, push it down-</p>
<p>The shadow began inching toward me, making slow advances across the field. My eyes ran the length of its legs as they
    swam straight through dim air.</p>
<p>Fire ran the course of my body and I wanted to move, scrambled horridly on my floor, writhing and flailing with
    soundless torture. Muscles were shredded into flaccid ribbons, organs carved to raggedy chunks, blood draining still.
</p>
<p>All balance was lost and I slipped through time, air, sanity, and landed on my head just as everything went black.
</p>
<p>When my eyelids unfurled and my consciousness flickered on, my vision cleared to meet my ceiling, the same popcorn
    white I’d greeted many times a night. Beads of cold scurried down my cheeks and I jerked up from my bed, limbs frozen to
    rigid glass, bloodshot eyes swilled with terror. They locked on my alarm clock, holding a steady illumination of 2:58
    AM.
</p>
<p>My window was closed, but I heard leaves rustling vigorously despite thin breezes as cracks and fizzles emerged, and
    a small red glimmer shone from across the glass.
</p>