---
title: "She Is Crying From Her Vagina"
author: Erica Liu
author_slug: erica-liu
index: 37
---

<div style="text-align: center;">
    <pre>part the                                                        ferns with</pre>
    <pre>your            gentle            touch               and                see</pre>
    <pre>that                     she is crying from her                 vagina.</pre>
    <pre>the tears          pool in the cramped              hollow </pre>
    <pre>carved by      gravity; these are the        ordinary </pre>
    <pre>tears of life, love,</pre>
    <pre>and pain. of</pre>
    <pre>gelatin milk,</pre>
    <pre>of starchy</pre>
    <pre>water, of</pre>
    <pre>royal velvet</pre>
    <pre>mud. let the</pre>
    <pre>droplets</pre>
    <pre>drip down</pre>
    <pre>and join</pre>
    <pre>the river</pre>
    <pre>delta,</pre>
    <br/> <pre>streaming</pre>
    <br/> <pre>sorrow</pre>
    <br/> <pre>at her condition.</pre>
    <br/> <br/> <br/> <pre>even this, her own blood, she cannot claim for herself.</pre>
</div>