---
title: "Thank You, Friend"
author: Mira Anant
author_slug: michelle-khan
index: 20
---

<p>Years of being friendless</p>
<p>And I saw you for the first time</p>
<p>On the first day</p><br/><p>Despite not knowing you for even a second</p>
<p>I knew you forever</p>
<p>I immediately knew we would become</p>
<p>The best of friends</p><br/><p>I was correct</p>
<p>You make one day feel like one second</p>
<p>Time flies when you're having fun</p>
<p>And I have lots of fun with you</p>
<p>Life is tolerable because of you</p>
<p>Everything feels complete because of you</p>
<p>Thank you, Friend</p>