---
title: "The Local Grocery Store"
author: Sophie Wang
author_slug: sophie-wang
index: 21
---

<p>Steaming potholes and piles of black glossy trash bags.</p>
<p>Fruitless fruit stands and standing clear from unclosed doors.
</p>
<p>Small oranges called mandarins,</p>
<p>six types of red apples,</p>
<p>and mold on the bottom of fresh strawberries</p>
<p>being sold at the grocery store.
</p>
<p>5-cent paper bags ripping,
</p>
<p>tumbling tomatoes,</p>
<p>bruised.
</p>
<p>Perfect imperfections
</p>
<p>like the dark spots under the gazing eyes of potatoes,</p>
<p>As they watch me skin them.
</p>
<p>The ears of corn listening
</p>
<p>to the gurgling pot of boiling water.
</p>
<p>Dancing in the pot like ballerinas,
</p>
<p>the last symphony of vegetables.</p>