---
title: "The Wise Mystical Tree"
author: Abidur Rahman
author_slug: abidur-rahman
index: 25
---

<p>The lofty trunk cannot be fully seen
</p>
<p>without the lens of fear forcing a retreat. But the calluses</p>
<p>plagued his frame with a wight's woe, took his sheen</p>
<p>like symbiotes, whose host, once brimming with youth's chalice,
</p>
<br/>
<p>no longer embodied a titan. How</p>
<p>his atrophic arms fared no better, no longer</p>
<p>tending to his budding children and much less stronger
</p>
<p>to even shoulder their riddled heavens now.</p>
<br/>
<p>How does this stick leave a quaking impression</p>
<p>
    above a plateau’s height from a viewing session</p>
<p>with a perceived gloss that should be confused for rugged hands,</p>
<br/>
<p>
    and unable from the blurred tall figure</p>
<p>
    to discern bone: So another ring forms and</p>
<p>
    another wrinkle creases. He is the one you transfigured.</p>