---
title: "The Kite Competition"
author: Shu Wen Chen
author_slug: shu-wen-chen
index: 24
---

<p>
    Vibrant paper of every color was displayed in the shop I found myself in. Kites of any shape you could imagine hung from
    the rafters, their designs bold and colorful against the dull concrete wall behind them. I paced the rows filled to the
    brim with kite-making supplies. Tomorrow, my town would hold the kite flying competition, an annual contest held on the
    first day of fall. Each year before that I had watched my father and brother make and fly their own kites, their bright
    colors contrasting against the browning leaves in the background, and each year I begged them to let me fly my own. But
    they’d always simply scold me, warning me that it was too dangerous, that I was too young. But with my twelfth birthday
    finally having occurred the previous month, that year I was finally old enough to participate. "Is there something you
    need?" The elderly shopkeeper watched me pace the isles behind the counter. "Uh, thank you, but I'm okay,” I responded,
    looking around the store. The shopkeeper was a friend of my dad's, so I had often visited him when I was younger. His
    name was Mr Yang, and he was the one who provided my father and brother supplies each year for their kites. That day, I
    visited him again. "’You need paper?" he asked. "Which colors are you thinking of?" As much as I didn't want his help, I
    knew I needed it. My mind raced across all the combinations I came up with when I was younger. Blue and black, the color
    of my brother's birthday cake one year, red and green, which reminded me of a mermaid doll I had, teal and pink, purple
    and orange, perhaps even magenta? My head ached from the decision, and my sore throat didn’t help either. I could feel a
    slight cold coming on, but I pushed forth, determined to pick out the perfect color. I couldn't decide. "Well?" He
    followed up when I remained silent. "I know it's difficult to choose. Don't worry, take your time." Mr Yang smiled,
    reminding me that it was okay to ponder over something as simple as the color of my kite. When I still couldn’t decide,
    he continued. "You know, I remember you once talked about how your favorite season was autumn. You were convinced that
    your first kite would be autumn themed, until you changed it to suit your favorite doll. How about that idea?" I
    considered it. Autumn was my favorite season after all, and I've seen other season themed kites. Maybe it wouldn't be
    such a bad idea.
</p>
<p>I walked out of the shop with an armful of browns, reds, and oranges. Mr Yang offered to assist in designing the
    kite, but I declined and insisted that I do that on my own. As I left, I gave him my thanks, and went on my way. The
    cold autumn air made me shiver, and I found myself with a runny nose when I got home.
</p>
<p>
    My living room floor was spread out with my materials. On my left was the paper I bought from Mr Yang. On my right were
    scissors, the design I planned, a ruler, string, tape, and a handful of sticks to mount my kite on. All I remember from
    that day were the hours of folding, cutting, and measuring, as I worked carefully and diligently on my kite. Though it
    was difficult to cut the paper smoothly with my pair of kid-safe scissors, when my father offered to assist in cleaning
    up the edges of my kite with his sharp adult scissors, I pushed his hand aside, saying I didn't need any help. "Are you
    sure?" I nodded, and continued working. He watched me for a while after that, but eventually left to finish his own
    kite.
</p>
<p>Finally, when I finished my kite, I sat in the middle of the living room floor with scraps of paper and tape littered
    here and there, admiring it. My kite.
</p>
<p>I couldn’t fall asleep until very late that night. My cough kept me up. I had been feeling pretty awful ever since I
    went to visit Mr Yang. I went to my dad to ask for some medicine, but by then, he was sound asleep.The next day, the day
    of the contest, I woke up the day of the contest in a cold sweat. My cough had gotten worse.
</p>When my brother returned from the competition, I was still in bed. I had fallen back asleep due to my fever, but my
dad recalled finding my pillow wet from tears.
<p>That day, my brother had won third place.
</p>
<p>Though I lay sick in bed, from my window I could see my kite soaring higher than the rest, the kite that eventually
    led my brother to his third place win. His own kite, which he had worked so hard on, lay undisturbed in his closet. My
    brother had helped my kite take flight, instead of the one he had worked so hard on, just so his younger sister could
    enjoy her first kite flying festival, bedridden, from her window.
</p>