---
title: "the god of small things (1)"
author: Ty Anant
author_slug: ty-anant
index : 17
---

<p>
    <i>After Pablo Neruda</i>
</p>
<p>I.</p>
<p>This time I will write the truest words.</p>
<p>For example: ‘The ocean will always be here, the dunegrass will always bend to the night.’</p>
<p>Simply: The ocean is everywhere, flanked by dunegrass. The wind bites.</p>
<p>This time I can write the truest words.</p>
<p>None of us being here does not mean we never were.</p>
<p>The ocean like this one stared back a thousand faces</p>
<p>last year, and the year before that, too,
</p>
<p>and next year it will as well.</p>
<p>II.</p>
<p>remember, remember this is true—</p>
<p>the line between is and was is a sandy one.</p>
<p>the line between the sky and the sea is a sandy one.</p>
<p>the line between the dusk and the night is a sandy one.</p>
<p>the line between now and forever is a sandy one.</p>
<p>something like a middle place.</p>
<p>to hear, to see, to taste the immense night is</p>
<p>is to smell intricacies in fragrance,</p>
<p>to feel the mind itself,</p>
<p>to have your very self laid bare before you</p>
<p>III.
</p>
<p>today I am writing the words:</p>
<p>nothing is here, to be certain, but in closed eyes and great nights
</p>
<p>somehow the sand forms something in orange—</p>
<p>somehow my head is filled with your sand,</p>
<p>in the manner of sand caught in thick hair,</p>
<p>somehow I can dance on this beach,
</p>
<p>somehow every word you ever said is written</p>
<p>in the tides and christened by the moon—</p>
<p>today I am telling you I will always be</p>
<p>listening on the beach with our childhood as falling waves,</p>
<p>searching on the beach for your secrets as spiraling shells,</p>
<p>tasting the salt of your forlorn fears in the wind,
</p>
<p>smelling the great black ocean, indivisible from sky, knowing your depth,</p>
<p>dancing</p>
<p>carefully on its coast, flanked by dunegrass,</p>
<p>the ocean throwing a thousand of my own faces at my feet,</p>
<p>and I will be stuck forever in this float, this ataraxia of awed</p>
<p>by the self having been laid bare,</p>
<p>by the goddess amongst the greens.</p>
<p>This time I am writing the words.</p>