---
title: "The Apple Doesn't Fall Far From The Tree"
author: Nordel Delma
author_slug: nordel-delma
index : 18
---

<p>If dad were an apple tree
</p>
<p>he would be grand,
</p>
<p>With gorgeous bark and fresh leaves.</p>
<p>But underneath, weak wood
</p>
<br/>
<p>infested with bugs.</p>
<p>A kind sight for sore eyes,</p>
<p>the eyes of outsiders.</p>
<p>You look just like him.</p>
<p>I hope no one tells me
</p>
<p>I act like the grand apple tree.</p>
<br/>
<p>
    <i>The apple doesn't fall far from the tree.</i>
</p>
<p>But you are a tree perched on a lonely hill.</p>
<p>I’ll break from your branches.</p>
<p>I hope you heal one day.</p>
<p>But I’ll roll far, far away</p>
<p>and grow my own tree.
</p>