---
title: "The Restaurant"
author: Ankki Dong
author_slug: ankki-dong
index: 23
---

<p>
    <i>With a first line from Allen Ginsberg’s “Kaddish”</i>
</p>
<br/>
<p>Strange now to think of you gone</p>
<p>& the rustic cracked wooden floors
</p>
<p>& the cream paint peeling from the walls
</p>
<p>& the map of the Bronx stained from age</p>
<p>& the “No Smoking” sign covered by the calendar
</p>
<p>& the aroma of oil seeping through the gaps</p>
<br/>
<p>Strange now to think of strangers who fawn over how much I’ve grown since I was four</p>
<p>& strangers who called me smart from doing multiplication in the corner by the sushi bar when I was five</p>
<p>& strangers who wondered why I was there signing papers, tippy-toeing because I couldn’t see the screen</p>
<p>& strangers who tipped me more because I was a child who kindly took their order</p>
<p>& strangers who watched me cry and sit through hours of the endless void of phone calls, yearning to be
</p>
<p>
    at the beach, the park, anywhere else</p>
<p>& strangers who bought me cake from the Italian bakery on my birthday when no one else would</p>
<br/>
<p>Strange now to think of the restaurant as home, as when you were here, I’d never admit you to be home</p>
<p>& how your dull walls reflect from my face but the blazing kitchen flame shines through my eyes</p>
<p>& how I’m not sure whether I should hate you, love you, adore you, question you, or destroy you</p>
<p>& how it is my everything, everywhere, but also nothing at all</p>
<p>& how it has been my first: my first meal, my first friends</p>
<p>& I guess, my first home</p>