---
title: "The Tragedy Of Lady Nose"
author: Natalie Kim
author_slug: natalie-kim
index: 45
---

<p>Eyes are jewels, cold and blind,</p>
<p>Blue as oceans and westward minds.</p>
<p>Lips are full and blossoms round,</p>
<p>Damasked rubies reveal whitened mouths.</p>
<p>Locks are flaxen silk and made of gold,</p>
<p>Always straight when young and old.</p>
<br/>
<p>But the nose…is a nose.</p>
<p>To put it best, she is not a rose,</p>
<p>Yet there are many things she would give,</p>
<p>For that flitting fragrance – desperate lift.</p>
<p>Lips, eyes, hair, part in two,</p>
<p>As they leave with the morning dew.</p>
<br/>
<p>But in Nose’s kingdom, upon a barren plain,</p>
<p>Of straw and earth and reddened clay,</p>
<p>No bridge, no shape, blind and lame,</p>
<p>Inherited foulness, a fief of shame,</p>
<p>In her moat with dark-headed fish,</p>
<p>The physician sat with Nose’s wish:</p>
<br/>
<p>“Eyes are cobalt, lapis and kind</p>
<p>Unlike my bridge, which is blind,</p>
<p>I cannot debate like luscious Lips,</p>
<p>For they can steer broken ships,</p>
<p>Nor I, black-headed, can be like Hair,</p>
<p>Her locks are open, gilded and fair.”</p>
<br/>
<p>My misshapen form remains aquiline,</p>
<p>A yuhina proud but savage, not divine,</p>
<p>No, hem me with buttons made of pearls,</p>
<p>The shape of discs on the shirts of earls,</p>
<p>Cast my anchors, throw out my hooks,</p>
<p>For eyes can see and spurn my looks.”</p>
<p>So lengthen my tip like the pointed stars,</p>
<p>And make me pale as the grandest czars,</p>
<p>Flay my nostrils, reduce them to slits,</p>
<p>Allow me to swoon in those romantic fits,</p>
<p>Bind my bosom, let my figure starve,</p>
<p>I shall pay in gold for your blade to carve.”</p>
<br/>
<p>In glory she rose, in sunlight she paled,</p>
<p>Yet midnight she gazed to no avail,</p>
<p>She wished to sink into white, frothing waves,</p>
<p>And at last die in an urn instead of a grave,</p>
<p>So the poor Nose slashed open her spleen,</p>
<p>To chop herself up in her guillotine,</p>
<br/>
<p>But lips, eyes, lies, even hair, part in two,</p>
<p>Contacts fell with not a tear of blue,</p>
<p>Masks removed for lips torn and chewed,</p>
<p>Perms fade, without a dying attitude.</p>
<p>They wept for the death of the lonely nose,</p>
<p>In the hopes to hear her desperate poem.</p>
<br/>
<p>“Eyes are sweet, even narrow and blind,</p>
<p>Toasted almonds, warm as an open mind.</p>
<p>Lips are broad and wine not bound,</p>
<p>For love flows freely in accented sounds.</p>
<p>And hair, be it coiled, curled, or flyaway,</p>
<p>Is as rich as coal and as strong as hay.”</p>
<br/>
<p>And although the nose is not a rose,</p>
<p>Her death is mournful, a tragic close,</p>
<p>For her death on that star-streaked night,</p>
<p>Was struck by that subtle, creeping blight,</p>
<p>That swooning miasma, at the end of the day,</p>
<p>Is the color of moonlight’s crepuscular rays.</p>