---
title: "Train Ride Home"
author: Kristy Gao
author_slug: kristy-gao
index : 48
---

<p>I write this poem</p>
<p>In a time of need</p>
<p>For me whose running</p>
<p>Mind I heed.</p>
<p>If this is just another chapter,</p>
<p>Another event</p>
<p>I shall soon look after,</p>
<p>I’ll brave the days with my racing mind</p>
<p>Through which in writing,
</p>
<p>Solace I find.</p>
<p>Perhaps it is a wake-up call</p>
<p>To step up, take root</p>
<p>Once and for all.</p>
<p>To trust in my gut,
</p>
<p>To stand tall in times of worry,
</p>
<p>To slow the torrents of thought —
</p>
<p>Those movements of hurry.</p>
<p>To breathe in deep,
</p>
<p>To exhale out loud,
</p>
<p>To replace my “what if”s</p>
<p>With “why” and “now.”</p>
<p>Life is a current—</p>
<p>I’ll go with the waves.</p>
<p>Life is a current—</p>
<p>I’ll swim my own way.</p>
<p>Those predetermined factors,
</p>
<p>When called into question,
</p>
<p>Seem more fragile than ever—</p>
<p>More tested by tension.</p>
<p>The people around,
</p>
<p>Some are struggling too.</p>
<p>Some cry in the wake</p>
<p>Of things they can’t undo.</p>
<p>But I see them clearly,
</p>
<p>Still holding composure.</p>
<p>Not out of strength or certainty</p>
<p>But to be another shoulder.</p>
<p>A shoulder to lean on</p>
<p>A shoulder upon which their loved ones can rest.</p>
<p>A shoulder that passes</p>
<p>Mighty Love’s test.</p>
<p>In them, I find my strength;
</p>
<p>In us, they find their cause.</p>
<p>Why am I so lucky?</p>
<p>I stand up once and for all.</p>