---
title: "Tribulations Of A Teenage Hoarder"
author: Madeline Hutchinson
author_slug: madeline-hutchinson
index: 35
---

<p>Last night she discovered the purple shoebox under my bed.
</p>
<p>She presented its contents, alongside her transparent contempt, in the barren field of hardwood flooring between us.
</p>
<p>With growing indifference, she pushed my possessions aside, surveying each with an intense premonition.
</p>
<p>She found:</p>
<br/>
<p>1. An expanse of tangled tangerine crochet work, with the ends left untied.</p>
<p>Or, in other words, a homage to our once-manicured fingers, chipped on impact.</p>
<p>Twisted threads bear our remorse of a thousand visits of idle disengagement.</p>
<p>So I am a collector of unfulfilled treasures.</p>
<p>
    <i>and she does not understand the</i>
</p>
<p>
    <i>guilt of my stilted surrender.</i>
</p>
<br/>
<p>2. A bundle of birthday cards, each identical, with the exception of the year signed in indiscernible pink cursive.</p>
<p>Or, in other words, recorded lapses of our intersecting impermanence.</p>
<p>Warped cardstock preserves fading ink and faded affection.</p>
<p>So I am a collector of store-bought sentiments.</p>
<p>
    <i>and she does not understand the</i>
</p>
<p>
    <i>guilt of my hurried admirations.</i>
</p>
<br/>
<p>3. A silky sleeveless blouse, three sizes too big, punctured by futile attempts at tailoring.</p>
<p>Or, in other words, a reminder that the silhouettes of our shadows were never meant to coincide.</p>
<p>Ripped hems characterize the wonders of our iterative alterations.</p>
<p>So I am a collector of things that have never been meant for me.</p>
<p>
    <i>and she does not understand the</i>
</p>
<p>
    <i>guilt of my destructive allegiance.</i>
</p>
<br/>
<p>4. A collection of rusted nickels and dimes inherited from grandmother’s now empty pocket.</p>
<p>Or, in other words, a proxy for the weight of her companionship, fashioned in zinc and copper.</p>
<p>Spare change rattles echoes of our sacrificial rites of womanhood.</p>
<p>So I am a collector of the most mundane of heirlooms.</p>
<p>
    <i>and she does not understand the</i>
</p>
<p>
    <i>guilt of my captive nostalgia.</i>
</p>
<br/>
<p>5. Her used ceramic mug, embellished with the elegant scratches from the morning teaspoon.</p>
<p>Or, in other words, an artifact to solidify our inability to organize a succinct mourning routine.</p>
<p>The uneven chip of the rim recalls the gap in her crescent-shaped smile.</p>
<p>So I am the curator of the archive of our human condition.</p>
<br/>
<p>
    <i>and she now understands</i>
</p>
<p>
    <i>that I am lamenting our existence before it ends.</i>
</p>
<br/>
<p>so my mother finally bears the</p>
<p>tribulations of her own teenage hoarder.</p>