---
title: "White Lily"
author: Eva Lam
author_slug: eva-lam
index : 6
---

<p>its life begins, already trapped</p>
<p>under too-bright lights and boxed-up walls.
</p>
<p>it grows. it starts to yearn for</p>
<p>the magic of the world</p>
<p>and it inches towards the outside,
</p>
<p>towards freedom,
</p>
<p>but–
</p>
<p>glass.
</p>
<p>no escape.
</p>
<p>disappointment is crushing, isn’t it?
</p>
<p>if it could cry, it would.
</p>
<br/>
<p>it’s soon picked. they were impatient,
</p>
<p>greedy hands reaching for its love</p>
<p>and velvet softness.
</p>
<p>dressed up in unfamiliar wrapping,
</p>
<p>
    crunch, crinkle
</p>
<p>a death grip sucking its life out as it’s carried to the</p>
<p>outside world that it, once upon a time,</p>
<p>so desired to be a part of.</p>
<br/>
<p>but it doesn’t have time to savor anything</p>
<p>as it is shoved back into a dark chamber,
</p>
<p>suffocating ties—all it can feel, a small jolt</p>
<p>here and there.
</p>
<br/>
<p>voices materialize</p>
<p>it is shoved around again, into someone’s trembling hands</p>
<p>their tears spill onto it</p>
<p>soaking the crumpled wrapping it’s bound in</p>
<p>and it almost feels a bit sad for them.
</p>
<br/>
<p>but then it–</p>
<p>
    it wants to scream</p>
<p>
    as they pull it apart,
</p>
<p>limb
</p>
<p>by
</p>
<p>limb,
</p>
<p>
    ripped-up petals scattering the ground,
</p>
<p>
    remnants of a miserable existence smeared on their hand</p>
<p>
    how can death be so painful?
</p>
<p>
    where’s the numb sensation of relief? of bliss?
</p>
<p>
    of cool, revitalizing darkness?</p>
<p>
    was this really how it was supposed to end?</p>
<br/>
<p>alas, there’s nothing it can do as it gets killed.
</p>
<p>and now, all you can think of is how,</p>
<p>as the white lily is dropped onto the floor,
</p>
<p>a mutilated flower can still look so beautiful.</p>