{% set contributorscss %}
{% include "styles/contributors.css" %}
{% endset %}
<style>
    {{contributorscss | cssmin | safe}}</style>
<div class="contributors-container">
    <div class="info">
        <h2>Caliper Contributors</h2>
        <p>
            Feel free to browse around the work of our talented contributors, or search for a specific name.
        </p>
    </div>
    {% for contributor in collections.contributors %}
        <div class="contributor">
            <h3>{{ contributor.author }}</h3>
            <ul>
                {% for post in contributor.pieces %}
                    <li>
                        <a href="{{ post.url }}">{{ post.title }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endfor %}
</div>