{% set navbarcss %} {% include "styles/navbar.css" %} {% endset %}
<style>
	{{ navbarcss | cssmin | safe }}
</style>

<nav>
    <div>
        <a href="/">CALIPER</a>
        <p>Stuyvesant High School's Oldest Literary/Art Magazine Since 1906</p>
    </div>
    <a href="/">Submissions</a>
    <a href="/">About Us</a>
</nav>