{%- macro viewer(params) -%}
    {% set viewercss %}
    {% include "styles/viewer.css" %}
    {% endset %}
    <style>
        {{viewercss | cssmin | safe}}</style>
    <div class="viewer-desktop">
        <button id="desktop-left-arrow" class="direction-sign" role="button">
            {% include "components/leftarrow.njk" %}
        </button>
        <div class="viewer-preview">
            <div class="image-container">
                <img
                    id="viewer-left-image"
                    src="/{{ params.issue }}/images/{{ params.issue }}-1.jpg"
                    alt="Page 1 of the Winter 2024 Issue"/>
            </div>
            <div class="image-container" id="image-container-right">
                <img
                    id="viewer-right-image"
                    src="/{{ params.issue }}/images/{{ params.issue }}-2.jpg"
                    alt="Page 2 of the Winter 2024 Issue"/>
            </div>
        </div>
        <button id="desktop-right-arrow" class="direction-sign" role="button">
            {% include "components/rightarrow.njk" %}
        </button>
    </div>
    <div class="viewer-mobile">
        <div class="viewer-preview">
            <div class="image-container">
                <img
                    id="viewer-mobile-image"
                    src="/{{ params.issue }}/images/{{ params.issue }}-1.jpg"
                    alt="Page 1 of the Winter 2024 Issue"/>
            </div>
        </div>
        <div id="mobile-buttons">
            <button id="mobile-left-arrow" class="direction-sign" role="button">
                {% include "components/leftarrow.njk" %}
            </button>
            <button id="mobile-right-arrow" class="direction-sign" role="button">
                {% include "components/rightarrow.njk" %}
            </button>
        </div>
    </div>
    {% set viewerjs %}
    {% include "components/viewer.js" %}
    {% endset %}
    <script async defer>
        let params = {{ params | dump | safe }};
        {{ viewerjs | safe }}
    </script>
{%- endmacro -%}