---
title: "Take Me Home (excerpt)"
author: Shivani Manimaran
author_slug: shivani-manimaran
---

<div
	class="no-margin-block drop-shadow fill"
	style="--background-color: #E0EDEC"
>
	<p>i.</p>
	<p>prickles of pain touched young feet, young shins, as i sat</p>
	<p>drawing on the sunny roof, as i knelt</p>
	<p>on the burning cement, granules of rock embedded</p>
	<p>in my hands and knees. i covered the pain in daydreams,</p>
	<p>shiny steel cups and sugary tea that spilled out and over</p>
	<p>the thin lines i tried to color within. as i lived</p>
	<p>alone with the wind, i made shapes out of clouds</p>
	<p>before it whisked them away, as i wondered</p>
	<p>if i could jump from the roof and land</p>
	<p>on the tree that cast long shadows on sunny days,</p>
	<p>but i was confined by concrete walls</p>
	<p>that came up to my chest and couldn’t be climbed</p>
	<p>though now, i know i’ve grown too tall</p>
	<p>to keep from falling over the side.</p>
</div>

<div
	class="no-margin-block drop-shadow fill text-right"
	style="--background-color: #E0EDEC"
>
	<p>iii.</p>
	<p>silence grew like mold in wet corners, there and everywhere</p>
	<p>but my head, where i was floating,</p>
	<p>zoning out to the drowsy buzzing of my voice</p>
	<p>in green-tinted darkness, illuminated</p>
	<p>by neon painted stars glowing on the ceiling.</p>
	<p>i was dancing on the water tank.</p>
	<p>i was singing to myself and the watching sun. it</p>
	<p>remembered all the places i had been and i</p>
	<p>remembered the ocean, though no scent of salt drifted</p>
	<p>this many miles inland, i still tasted it in the nausea</p>
	<p>that came with spinning and spinning, skirt flaring,</p>
	<p>out of control, i spun rings around the roses in my garden.</p>
	<p>and we all fell down</p>
</div>
