---
title: "The Patron Saints of Hydromorphone & Jobbers"
author: Kolya Krasotkin
author_slug: kolya-krasotkin
index : 0
---

<div class="no-margin-block drop-shadow fill" style="--background-color: #F7FAFA;">
    <p>You have this look in your eyes</p>
    <p>like a pill in peanut butter</p>
    <p>hidden and bitter and vile</p>
    <p>they’ll call you the patron saint of splattered blood and deli sodas.</p>
    <p>One day this look will spark</p>
    <p>and we’ll take it outside</p>
    <p>fight under lamp posts for dignity and half eaten snow.</p>
    <p>I’d lose, probably,</p>
    <p>when I notice how the dingy street light frames you</p>
    <p>and how angels don’t always look like the ones in the holy books;</p>
    <p>we’d look like feral dogs</p>
    <p>starving and bloodied</p>
    <p>skin only keeping us alive.</p>
    <p>What godless creatures we’d be.</p>
    <p>You’d try to put me in a sharpshooter after, as a joke,</p>
    <p>dare me to lie over traintracks</p>
    <p>laying flat enough to be alive</p>
    <p>but not much else.</p>
    <p>I think you would be Shawn Michaels</p>
    <p>and I would be Bret Hart</p>
    <p>and we’d be somewhere between Manhattan and Montreal</p>
    <p>sometime between 8 PM and 1997.</p>
    <p>Let me tell you a secret браток,</p>
    <p>one I only whisper to the painting of Jesus in the dome of St. Nicholas’ Cathedral</p>
    <p>my favorite secret, really</p>
    <p>I think I'd let you kill me</p>
    <p>stand nice and still so you won’t mess it up</p>
    <p>you fucking piece of shit.</p>
</div>
