---
layout: layouts/base.njk
eleventyExcludeFromCollections: true
---

{% set issuecss %}
{% include "styles/issue.css" %}
{% endset %}
<style>
    {{issuecss | cssmin | safe}}</style>
<h1 class="center-heading">The Spring 2023 issue will be published online soon!</h1>
{# {% set postlist = collections.winter2023 %} {% include "components/postlist.njk" %} #}